<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="szlab_tip_box" params="parent_link:='' station_name:='' device_name:='' x:=0 y:=0 z:=0 rx:=0 ry:=0 r:=0 mesh_path:=''">
    <joint name="${station_name}${device_name}base_link_joint" type="fixed">
      <origin xyz="${x} ${y} ${z}" rpy="${rx} ${ry} ${r}"/>
      <parent link="${parent_link}"/>
      <child link="${station_name}${device_name}device_link"/>
      <axis xyz="0 0 0"/>
    </joint>
    <link name="${station_name}${device_name}device_link"/>
    <joint name="${station_name}${device_name}device_link_joint" type="fixed">
      <!-- Normalize the tip-box CAD bbox to the PLR lower-left-bottom origin. -->
      <origin xyz="0.043 0.06403 0" rpy="0 0 0"/>
      <parent link="${station_name}${device_name}device_link"/>
      <child link="${station_name}${device_name}base_link"/>
      <axis xyz="0 0 0"/>
    </joint>
    <link name="${station_name}${device_name}base_link">
      <inertial>
        <origin xyz="1.70506822128023E-15 -2.94167528488174E-05 0.0801319029496727" rpy="0 0 0"/>
        <mass value="1.22459568722439"/>
        <inertia ixx="0.00112917120054813" ixy="1.37183700807233E-10" ixz="-1.17942149107199E-17" iyy="0.000501667574741814" iyz="6.64042364323311E-11" izz="0.00114159779429313"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/base_link.stl"/>
        </geometry>
        <material name="">
          <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/base_link.stl"/>
        </geometry>
      </collision>
    </link>
  </xacro:macro>
</robot>
