<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="szlab_poly_powder_container_placeholder_warehouse" params="parent_link:='' station_name:='' device_name:='' x:=0 y:=0 z:=0 rx:=0 ry:=0 r:=0 mesh_path:=''">
    <joint name="${station_name}${device_name}base_link_joint" type="fixed">
      <origin xyz="${x} ${y} ${z}" rpy="${rx} ${ry} ${r}"/>
      <parent link="${parent_link}"/>
      <child link="${station_name}${device_name}device_link"/>
      <axis xyz="0 0 0"/>
    </joint>
    <link name="${station_name}${device_name}device_link"/>
    <joint name="${station_name}${device_name}device_link_joint" type="fixed">
      <!-- The latest STL is pre-oriented; normalize its bbox to the PLR origin. -->
      <origin xyz="0.05 0.185014 0" rpy="0 0 0"/>
      <parent link="${station_name}${device_name}device_link"/>
      <child link="${station_name}${device_name}base_link"/>
      <axis xyz="0 0 0"/>
    </joint>
    <link name="${station_name}${device_name}base_link">
      <inertial>
        
      
        <origin xyz="-0.00020157 2.8421E-06 0.25714" rpy="0 0 0"/>
        
      
        <mass value="5.5067"/>
        
      
        <inertia ixx="0.064278" ixy="-3.1255E-08" ixz="4.4774E-09" iyy="0.086096" iyz="-9.9001E-09" izz="0.032039"/>
        
    
      </inertial>
      <visual>
        
      
        <origin xyz="0 0 0" rpy="0 0 0"/>
        
      
        <geometry>
          
        
          <mesh filename="file://${mesh_path}/meshes/base_link.stl"/>
          
      
        </geometry>
        
      
        <material name="">
          
        
          <color rgba="0.75294 0.75294 0.75294 1"/>
          
      
        </material>
        
    
      </visual>
      <collision>
        
      
        <origin xyz="0 0 0" rpy="0 0 0"/>
        
      
        <geometry>
          
        
          <mesh filename="file://${mesh_path}/meshes/base_link.stl"/>
          
      
        </geometry>
        
    
      </collision>
    </link>
  </xacro:macro>
</robot>
