<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="szlab_mixer_robot">

  <xacro:macro name="szlab_mixer_robot" params="parent_link:='' station_name:='' device_name:='' x:=0 y:=0 z:=0 rx:=0 ry:=0 r:=0 mesh_path:=''">
    <xacro:property name="joint_limit_parameters" value="${xacro.load_yaml(mesh_path + '/joint_limit.yaml')}"/>
    <xacro:property name="sec_limits" value="${joint_limit_parameters['joint_limits']}"/>
    <xacro:property name="limit_arm_base_joint" value="${sec_limits['arm_base_joint']}"/>
    <xacro:property name="limit_cr7_joint_1" value="${sec_limits['cr7_joint_1']}"/>
    <xacro:property name="limit_cr7_joint_2" value="${sec_limits['cr7_joint_2']}"/>
    <xacro:property name="limit_cr7_joint_3" value="${sec_limits['cr7_joint_3']}"/>
    <xacro:property name="limit_cr7_joint_4" value="${sec_limits['cr7_joint_4']}"/>
    <xacro:property name="limit_cr7_joint_5" value="${sec_limits['cr7_joint_5']}"/>
    <xacro:property name="limit_cr7_joint_6" value="${sec_limits['cr7_joint_6']}"/>

    <joint name="${station_name}${device_name}base_link_joint" type="fixed">
      <origin xyz="${x} ${y} ${z}" rpy="${rx} ${ry} ${r}"/>
      <parent link="${parent_link}"/>
      <child link="${station_name}${device_name}device_link"/>
      <axis xyz="0 0 0"/>
    </joint>

    <link name="${station_name}${device_name}device_link"/>
    <joint name="${station_name}${device_name}device_link_joint" type="fixed">
      <!-- The rail mesh spans y=-0.08..0.08; expose a lower-left base origin. -->
      <origin xyz="0 0.08 0" rpy="0 0 0"/>
      <parent link="${station_name}${device_name}device_link"/>
      <child link="${station_name}${device_name}arm_slideway"/>
      <axis xyz="0 0 0"/>
    </joint>

    <!-- Rail (length ×1.5 along X vs original arm_slider mesh) -->
    <link name="${station_name}${device_name}arm_slideway">
      <inertial>
        <origin rpy="0 0 0" xyz="-1.3696833695310285 -0.00141851388483838 0.0416079172839272"/>
        <mass value="13.6578107753627"/>
        <inertia ixx="0.0507627640890578" ixy="0.0245166532634714" ixz="-0.0112656803168519" iyy="5.2550852314372" iyz="0.000302974193920367" izz="5.26892263696439"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/arm_slideway.stl" scale="1.5 1 1"/>
        </geometry>
        <material name="">
          <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/arm_slideway.stl" scale="1.5 1 1"/>
        </geometry>
      </collision>
    </link>

    <!-- Prismatic slide: CR7 base rides on the rail (arm_base removed) -->
    <joint name="${station_name}${device_name}arm_base_joint" type="prismatic">
      <origin rpy="0 0 0" xyz="0.4605 0 0.1225"/>
      <parent link="${station_name}${device_name}arm_slideway"/>
      <child link="${station_name}${device_name}cr7_base"/>
      <axis xyz="1 0 0"/>
      <limit
        effort="${limit_arm_base_joint['effort']}"
        lower="${limit_arm_base_joint['lower']}"
        upper="${limit_arm_base_joint['upper']}"
        velocity="${limit_arm_base_joint['velocity']}"/>
    </joint>

    <!-- Dobot CR7 (dobot_rviz/urdf/cr7_robot.urdf; dummy_link dropped) -->
    <link name="${station_name}${device_name}cr7_base">
      <inertial>
        <origin xyz="-7.75881826404344E-06 0.00191109737802069 0.0289949710713939" rpy="0 0 0"/>
        <mass value="0.908795453638862"/>
        <inertia ixx="0.00145446136430631" ixy="4.10411509661615E-08" ixz="-1.83603068187756E-07" iyy="0.00134497445765809" iyz="-6.24662501711042E-06" izz="0.00215495523232905"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/cr7/base_link0.STL"/>
        </geometry>
        <material name="">
          <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/cr7/base_link0.STL"/>
        </geometry>
      </collision>
    </link>

    <link name="${station_name}${device_name}cr7_link_1">
      <inertial>
        <origin xyz="2.42083892138974E-07 -0.00325669708857515 -0.00767435596457115" rpy="0 0 0"/>
        <mass value="1.6123155679073"/>
        <inertia ixx="0.00291211377650885" ixy="-7.47419584239082E-09" ixz="1.94780650217368E-08" iyy="0.00281918869862419" iyz="0.000440963272842605" izz="0.00328358201221721"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/cr7/J1.STL"/>
        </geometry>
        <material name="">
          <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/cr7/J1.STL"/>
        </geometry>
      </collision>
    </link>
    <joint name="${station_name}${device_name}cr7_joint_1" type="revolute">
      <origin xyz="0 0 0.147" rpy="0 0 0"/>
      <parent link="${station_name}${device_name}cr7_base"/>
      <child link="${station_name}${device_name}cr7_link_1"/>
      <axis xyz="0 0 1"/>
      <limit
        effort="${limit_cr7_joint_1['effort']}"
        lower="${limit_cr7_joint_1['lower']}"
        upper="${limit_cr7_joint_1['upper']}"
        velocity="${limit_cr7_joint_1['velocity']}"/>
    </joint>

    <link name="${station_name}${device_name}cr7_link_2">
      <inertial>
        <origin xyz="-0.188500103625708 -7.46110088887752E-07 0.142319304936727" rpy="0 0 0"/>
        <mass value="5.28764336862191"/>
        <inertia ixx="0.00860086052884714" ixy="3.30521626209469E-09" ixz="-4.99788929762243E-09" iyy="0.0181761454963347" iyz="-1.56481985512198E-08" izz="0.0189188799857172"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/cr7/J2.STL"/>
        </geometry>
        <material name="">
          <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/cr7/J2.STL"/>
        </geometry>
      </collision>
    </link>
    <joint name="${station_name}${device_name}cr7_joint_2" type="revolute">
      <origin xyz="0 0 0" rpy="-1.57080420997483 1.57079631189374 -3.14158502419526"/>
      <parent link="${station_name}${device_name}cr7_link_1"/>
      <child link="${station_name}${device_name}cr7_link_2"/>
      <axis xyz="0 0 1"/>
      <limit
        effort="${limit_cr7_joint_2['effort']}"
        lower="${limit_cr7_joint_2['lower']}"
        upper="${limit_cr7_joint_2['upper']}"
        velocity="${limit_cr7_joint_2['velocity']}"/>
    </joint>

    <link name="${station_name}${device_name}cr7_link_3">
      <inertial>
        <origin xyz="-0.129084033261017 0.000409825982416691 -0.0024891265183234" rpy="0 0 0"/>
        <mass value="2.64536322797469"/>
        <inertia ixx="0.00313429310657436" ixy="8.58567214179718E-06" ixz="0.0001236219933347" iyy="0.00583755221707048" iyz="-3.84538201491329E-07" izz="0.00609610718076456"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/cr7/J3.STL"/>
        </geometry>
        <material name="">
          <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/cr7/J3.STL"/>
        </geometry>
      </collision>
    </link>
    <joint name="${station_name}${device_name}cr7_joint_3" type="revolute">
      <origin xyz="-0.377 0 0.025" rpy="0 0 0"/>
      <parent link="${station_name}${device_name}cr7_link_2"/>
      <child link="${station_name}${device_name}cr7_link_3"/>
      <axis xyz="0 0 1"/>
      <limit
        effort="${limit_cr7_joint_3['effort']}"
        lower="${limit_cr7_joint_3['lower']}"
        upper="${limit_cr7_joint_3['upper']}"
        velocity="${limit_cr7_joint_3['velocity']}"/>
    </joint>

    <link name="${station_name}${device_name}cr7_link_4">
      <inertial>
        <origin xyz="-0.00098049161725656 -0.00207570116557487 -0.00155508673006152" rpy="0 0 0"/>
        <mass value="0.670573134819647"/>
        <inertia ixx="0.000669371731621344" ixy="-5.32805461934157E-08" ixz="3.52586632357936E-07" iyy="0.000654228488306913" iyz="0.000110801103983602" izz="0.000653654751027863"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/cr7/J4.STL"/>
        </geometry>
        <material name="">
          <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/cr7/J4.STL"/>
        </geometry>
      </collision>
    </link>
    <joint name="${station_name}${device_name}cr7_joint_4" type="revolute">
      <origin xyz="-0.306999999999969 0 0.116" rpy="0 0 -1.57079677671549"/>
      <parent link="${station_name}${device_name}cr7_link_3"/>
      <child link="${station_name}${device_name}cr7_link_4"/>
      <axis xyz="0 0 0.999999999969965"/>
      <limit
        effort="${limit_cr7_joint_4['effort']}"
        lower="${limit_cr7_joint_4['lower']}"
        upper="${limit_cr7_joint_4['upper']}"
        velocity="${limit_cr7_joint_4['velocity']}"/>
    </joint>

    <link name="${station_name}${device_name}cr7_link_5">
      <inertial>
        <origin xyz="-0.00139233872001005 -0.00449255371185306 -0.00130478579616922" rpy="0 0 0"/>
        <mass value="0.725828190120638"/>
        <inertia ixx="0.00073002940905788" ixy="1.46530702319641E-07" ixz="-1.21461719923983E-07" iyy="0.000710023403641111" iyz="-0.000119103387993809" izz="0.000712169450212708"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/cr7/J5.STL"/>
        </geometry>
        <material name="">
          <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/cr7/J5.STL"/>
        </geometry>
      </collision>
    </link>
    <joint name="${station_name}${device_name}cr7_joint_5" type="revolute">
      <origin xyz="0 -0.116 0" rpy="1.5707963267949 0 0"/>
      <parent link="${station_name}${device_name}cr7_link_4"/>
      <child link="${station_name}${device_name}cr7_link_5"/>
      <axis xyz="0 0 1"/>
      <limit
        effort="${limit_cr7_joint_5['effort']}"
        lower="${limit_cr7_joint_5['lower']}"
        upper="${limit_cr7_joint_5['upper']}"
        velocity="${limit_cr7_joint_5['velocity']}"/>
    </joint>

    <link name="${station_name}${device_name}cr7_link_6">
      <inertial>
        <origin xyz="-0.00134099075400824 9.61028193323665E-05 -0.0192856508049091" rpy="0 0 0"/>
        <mass value="0.157885328078873"/>
        <inertia ixx="7.80450650011017E-05" ixy="3.56327806101489E-09" ixz="-3.98217377472077E-11" iyy="7.91678595101433E-05" iyz="-1.3821786505554E-07" izz="0.000129505866960959"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/cr7/J6.STL"/>
        </geometry>
        <material name="">
          <color rgba="0.792156862745098 0.819607843137255 0.933333333333333 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/cr7/J6.STL"/>
        </geometry>
      </collision>
    </link>
    <joint name="${station_name}${device_name}cr7_joint_6" type="revolute">
      <origin xyz="0 0.104999656773681 0" rpy="-1.5707963267949 0 0"/>
      <parent link="${station_name}${device_name}cr7_link_5"/>
      <child link="${station_name}${device_name}cr7_link_6"/>
      <axis xyz="0 0 1"/>
      <limit
        effort="${limit_cr7_joint_6['effort']}"
        lower="${limit_cr7_joint_6['lower']}"
        upper="${limit_cr7_joint_6['upper']}"
        velocity="${limit_cr7_joint_6['velocity']}"/>
    </joint>

  </xacro:macro>
</robot>
