<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="szlab_mixer_robot">

  <xacro:macro name="szlab_mixer_robot" params="parent_link:='' station_name:='' device_name:='' x:=0 y:=0 z:=0 rx:=0 ry:=0 r:=0 mesh_path:=''">
    <xacro:property name="joint_limit_parameters" value="${xacro.load_yaml(mesh_path + '/joint_limit.yaml')}"/>
    <xacro:property name="sec_limits" value="${joint_limit_parameters['joint_limits']}"/>
    <xacro:property name="limit_arm_base_joint" value="${sec_limits['arm_base_joint']}"/>
    <xacro:property name="limit_eco65_joint_1" value="${sec_limits['eco65_joint_1']}"/>
    <xacro:property name="limit_eco65_joint_2" value="${sec_limits['eco65_joint_2']}"/>
    <xacro:property name="limit_eco65_joint_3" value="${sec_limits['eco65_joint_3']}"/>
    <xacro:property name="limit_eco65_joint_4" value="${sec_limits['eco65_joint_4']}"/>
    <xacro:property name="limit_eco65_joint_5" value="${sec_limits['eco65_joint_5']}"/>
    <xacro:property name="limit_eco65_joint_6" value="${sec_limits['eco65_joint_6']}"/>

    <joint name="${station_name}${device_name}base_link_joint" type="fixed">
      <origin xyz="${x} ${y} ${z}" rpy="${rx} ${ry} ${r}"/>
      <parent link="${parent_link}"/>
      <child link="${station_name}${device_name}device_link"/>
      <axis xyz="0 0 0"/>
    </joint>

    <link name="${station_name}${device_name}device_link"/>
    <joint name="${station_name}${device_name}device_link_joint" type="fixed">
      <!-- The rail mesh spans y=-0.08..0.08; expose a lower-left base origin. -->
      <origin xyz="0 0.08 0" rpy="0 0 0"/>
      <parent link="${station_name}${device_name}device_link"/>
      <child link="${station_name}${device_name}arm_slideway"/>
      <axis xyz="0 0 0"/>
    </joint>

    <!-- Rail (length ×1.5 along X vs original arm_slider mesh) -->
    <link name="${station_name}${device_name}arm_slideway">
      <inertial>
        <origin rpy="0 0 0" xyz="-1.3696833695310285 -0.00141851388483838 0.0416079172839272"/>
        <mass value="13.6578107753627"/>
        <inertia ixx="0.0507627640890578" ixy="0.0245166532634714" ixz="-0.0112656803168519" iyy="5.2550852314372" iyz="0.000302974193920367" izz="5.26892263696439"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/arm_slideway.stl" scale="1.5 1 1"/>
        </geometry>
        <material name="">
          <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1"/>
        </material>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/arm_slideway.stl" scale="1.5 1 1"/>
        </geometry>
      </collision>
    </link>

    <!-- Prismatic slide: ECO65 base rides on the rail (arm_base removed) -->
    <joint name="${station_name}${device_name}arm_base_joint" type="prismatic">
      <origin rpy="0 0 0" xyz="0.4605 0 0.1225"/>
      <parent link="${station_name}${device_name}arm_slideway"/>
      <child link="${station_name}${device_name}eco65_base"/>
      <axis xyz="1 0 0"/>
      <limit
        effort="${limit_arm_base_joint['effort']}"
        lower="${limit_arm_base_joint['lower']}"
        upper="${limit_arm_base_joint['upper']}"
        velocity="${limit_arm_base_joint['velocity']}"/>
    </joint>

    <link name="${station_name}${device_name}eco65_base">
      <inertial>
        <origin xyz="0.0004101 -8.4575E-05 0.050471" rpy="0 0 0"/>
        <mass value="2"/>
        <inertia ixx="0.0011075" ixy="-3.3776E-06" ixz="2.5165E-05" iyy="0.001109" iyz="-1.7082E-06" izz="0.00075402"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/eco65/base_link.stl"/>
        </geometry>
        <material name="">
          <color rgba="1 1 1 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/eco65/base_link.stl"/>
        </geometry>
      </collision>
    </link>

    <link name="${station_name}${device_name}eco65_link_1">
      <inertial>
        <origin xyz="-1.105E-02 2.736E-05 -3.347E-02" rpy="0 0 0"/>
        <mass value="1.507"/>
        <inertia ixx="1.958E-03" ixy="-2.333E-05" ixz="5.324E-04" iyy="3.101E-03" iyz="9.135E-06" izz="2.427E-03"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/eco65/link_1.stl"/>
        </geometry>
        <material name="">
          <color rgba="1 1 1 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/eco65/link_1.stl"/>
        </geometry>
      </collision>
    </link>
    <joint name="${station_name}${device_name}eco65_joint_1" type="revolute">
      <origin xyz="0 0 0.1625" rpy="0 0 0"/>
      <parent link="${station_name}${device_name}eco65_base"/>
      <child link="${station_name}${device_name}eco65_link_1"/>
      <axis xyz="0 0 1"/>
      <limit
        effort="${limit_eco65_joint_1['effort']}"
        lower="${limit_eco65_joint_1['lower']}"
        upper="${limit_eco65_joint_1['upper']}"
        velocity="${limit_eco65_joint_1['velocity']}"/>
    </joint>

    <link name="${station_name}${device_name}eco65_link_2">
      <inertial>
        <origin xyz="5.818E-02 -1.163E-05 -5.236E-02" rpy="0 0 0"/>
        <mass value="2.0227"/>
        <inertia ixx="2.274E-03" ixy="-6.214E-06" ixz="1.441559E-03" iyy="1.731147E-02" iyz="-2.9598E-06" izz="1.7225523E-02"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/eco65/link_2.stl"/>
        </geometry>
        <material name="">
          <color rgba="1 1 1 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/eco65/link_2.stl"/>
        </geometry>
      </collision>
    </link>
    <joint name="${station_name}${device_name}eco65_joint_2" type="revolute">
      <origin xyz="-0.086 0 0" rpy="0 -1.5708 -1.5708"/>
      <parent link="${station_name}${device_name}eco65_link_1"/>
      <child link="${station_name}${device_name}eco65_link_2"/>
      <axis xyz="0 0 1"/>
      <limit
        effort="${limit_eco65_joint_2['effort']}"
        lower="${limit_eco65_joint_2['lower']}"
        upper="${limit_eco65_joint_2['upper']}"
        velocity="${limit_eco65_joint_2['velocity']}"/>
    </joint>

    <link name="${station_name}${device_name}eco65_link_3">
      <inertial>
        <origin xyz="9.2768E-02 -9.3866E-05 1.81E-03" rpy="0 0 0"/>
        <mass value="1.8858"/>
        <inertia ixx="1.9164989E-03" ixy="-3.27E-06" ixz="-1.6941203E-03" iyy="2.2483104E-02" iyz="4.50616E-06" izz="2.1892837E-02"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/eco65/link_3.stl"/>
        </geometry>
        <material name="">
          <color rgba="1 1 1 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/eco65/link_3.stl"/>
        </geometry>
      </collision>
    </link>
    <joint name="${station_name}${device_name}eco65_joint_3" type="revolute">
      <origin xyz="0.26 0 0" rpy="0 0 0"/>
      <parent link="${station_name}${device_name}eco65_link_2"/>
      <child link="${station_name}${device_name}eco65_link_3"/>
      <axis xyz="0 0 1"/>
      <limit
        effort="${limit_eco65_joint_3['effort']}"
        lower="${limit_eco65_joint_3['lower']}"
        upper="${limit_eco65_joint_3['upper']}"
        velocity="${limit_eco65_joint_3['velocity']}"/>
    </joint>

    <link name="${station_name}${device_name}eco65_link_4">
      <inertial>
        <origin xyz="-4.028E-05 -3.496E-02 3.8015E-03" rpy="0 0 0"/>
        <mass value="0.57"/>
        <inertia ixx="4.97615E-04" ixy="5.3887E-07" ixz="7.046E-07" iyy="3.2497E-04" iyz="0" izz="1.1634E-03"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/eco65/link_4.stl"/>
        </geometry>
        <material name="">
          <color rgba="1 1 1 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/eco65/link_4.stl"/>
        </geometry>
      </collision>
    </link>
    <joint name="${station_name}${device_name}eco65_joint_4" type="revolute">
      <origin xyz="0.24 0 -0.05888" rpy="0 0 1.5708"/>
      <parent link="${station_name}${device_name}eco65_link_3"/>
      <child link="${station_name}${device_name}eco65_link_4"/>
      <axis xyz="0 0 1"/>
      <limit
        effort="${limit_eco65_joint_4['effort']}"
        lower="${limit_eco65_joint_4['lower']}"
        upper="${limit_eco65_joint_4['upper']}"
        velocity="${limit_eco65_joint_4['velocity']}"/>
    </joint>

    <link name="${station_name}${device_name}eco65_link_5">
      <inertial>
        <origin xyz="-3.97E-05 2.2647E-02 -7.365E-03" rpy="0 0 0"/>
        <mass value="0.641"/>
        <inertia ixx="6.2339218E-04" ixy="-5.31226E-07" ixz="-5.61849E-07" iyy="3.9337546E-04" iyz="-1.1339817E-04" izz="5.5741485E-04"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/eco65/link_5.stl"/>
        </geometry>
        <material name="">
          <color rgba="1 1 1 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/eco65/link_5.stl"/>
        </geometry>
      </collision>
    </link>
    <joint name="${station_name}${device_name}eco65_joint_5" type="revolute">
      <origin xyz="0 -0.11 0" rpy="1.5708 0 0"/>
      <parent link="${station_name}${device_name}eco65_link_4"/>
      <child link="${station_name}${device_name}eco65_link_5"/>
      <axis xyz="0 0 1"/>
      <limit
        effort="${limit_eco65_joint_5['effort']}"
        lower="${limit_eco65_joint_5['lower']}"
        upper="${limit_eco65_joint_5['upper']}"
        velocity="${limit_eco65_joint_5['velocity']}"/>
    </joint>

    <link name="${station_name}${device_name}eco65_link_6">
      <inertial>
        <origin xyz="4.478E-04 -2.134E-04 -1.033579E-02" rpy="0 0 0"/>
        <mass value="0.0857"/>
        <inertia ixx="3.302707E-05" ixy="-2.5421576E-06" ixz="1.0241783E-07" iyy="3.0206675E-05" iyz="-8.4126596E-08" izz="5.1459675E-05"/>
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/eco65/link_6.stl"/>
        </geometry>
        <material name="">
          <color rgba="1 1 1 1"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="file://${mesh_path}/meshes/eco65/link_6.stl"/>
        </geometry>
      </collision>
    </link>
    <joint name="${station_name}${device_name}eco65_joint_6" type="revolute">
      <origin xyz="0 0.0967 0" rpy="-1.5708 0 0"/>
      <parent link="${station_name}${device_name}eco65_link_5"/>
      <child link="${station_name}${device_name}eco65_link_6"/>
      <axis xyz="0 0 1"/>
      <limit
        effort="${limit_eco65_joint_6['effort']}"
        lower="${limit_eco65_joint_6['lower']}"
        upper="${limit_eco65_joint_6['upper']}"
        velocity="${limit_eco65_joint_6['velocity']}"/>
    </joint>

  </xacro:macro>
</robot>
