<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="szlab_poly_s10_liquid_reagent_placeholder_warehouse" params="parent_link:='' station_name:='' device_name:='' x:=0 y:=0 z:=0 rx:=0 ry:=0 r:=0 mesh_path:=''">
    <joint name="${station_name}${device_name}base_link_joint" type="fixed">
      <origin xyz="${x} ${y} ${z}" rpy="${rx} ${ry} ${r}"/>
      <parent link="${parent_link}"/>
      <child link="${station_name}${device_name}device_link"/>
      <axis xyz="0 0 0"/>
    </joint>
    <link name="${station_name}${device_name}device_link"/>
    <joint name="${station_name}${device_name}device_link_joint" type="fixed">
      <!-- Normalize the carrier CAD bbox to its PLR lower-left-bottom origin. -->
      <origin xyz="0.279986 0.06 0" rpy="0 0 0"/>
      <parent link="${station_name}${device_name}device_link"/>
      <child link="${station_name}${device_name}base_link"/>
      <axis xyz="0 0 0"/>
    </joint>
    <link name="${station_name}${device_name}base_link">
      <inertial>
        
      
        <origin xyz="1.0966E-05 -0.0029883 0.29903" rpy="0 0 0"/>
        
      
        <mass value="9.7477"/>
        
      
        <inertia ixx="0.099384" ixy="-3.6095E-08" ixz="4.0416E-09" iyy="0.17585" iyz="2.938E-08" izz="0.10049"/>
        
    
      </inertial>
      <visual>
        
      
        <origin xyz="0 0 0" rpy="0 0 0"/>
        
      
        <geometry>
          
        
          <mesh filename="file://${mesh_path}/meshes/base_link.stl"/>
          
      
        </geometry>
        
      
        <material name="">
          
        
          <color rgba="0.75294 0.75294 0.75294 1"/>
          
      
        </material>
        
    
      </visual>
      <collision>
        
      
        <origin xyz="0 0 0" rpy="0 0 0"/>
        
      
        <geometry>
          
        
          <mesh filename="file://${mesh_path}/meshes/base_link.stl"/>
          
      
        </geometry>
        
    
      </collision>
    </link>
  </xacro:macro>
</robot>
